<main>
  <div class="col-6 offset-3">
    <form action="/cadastrar" method="post" class="cds">
      <label for="nome">Digite Seu Nome</label>
      <br />
      <input type="text" name="nome" class="form-control" id="nome" />
      <br />
      <label for="email">Digite Seu Email</label>
      <br />
      <input type="email" name="email" class="form-control" id="email" />
      <br />
      <label for="senha">Digite Sua senha</label>
      <br />
      <input type="password" name="senha" class="form-control" id="senha" />
      <br />

      <button type="submit" id="button">Cadastar</button>
    </form>
  </div>
</main>