<main>
    <div class="col-6 offset-3">
        <form class="cds"> 
            <label for="nome">Digite Seu Nome</label> <br>
            <input type="text" class="form-control" id="nome"> <br>
            <label for="email">Digite Seu Email</label> <br>
            <input type="email" class="form-control" id="email"> <br>
            <label for="senha">Digite Seu Email</label> <br>
            <input type="password" class="form-control" id="senha"> <br>


            <button type="submit" id="button">Cadastar</button>
        </form>
    </div>
</main>