<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body{ background: rgb(255,255,255); background: linear-gradient(27deg,
      rgba(255,255,255,1) 0%, rgba(175,0,255,1) 99%) }
    </style>
  </head>
  <body>

  </body>
</html>