<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background: rgb(245, 241, 241);
        background: linear-gradient(
          27deg,
          rgba(245, 241, 241, 1) 25%,
          rgba(131, 137, 139, 1) 80%,
          rgba(0, 0, 0, 0.3225665266106442) 96%
        );
      }
      #titulo {
        text-align: justify;
        margin-left: 30px;
        max-width: 500px;
        position: fixed;
        margin-top: 30px;
        font-size: 20px;
        line-height: 1.5;
      }
      #lista {
        margin-left: 50px;
        position: fixed;
        margin-top: 200px;
        font-size: 20px;
        text-align: justify;
        line-height: 1.5;
        text-align: justify;
      }
      h2 {
        text-align: justify;
        margin-left: 30px;
        max-width: 500px;
        position: fixed;
        margin-top: 30px;
        font-size: 20px;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <div id="titulo">
      <h1 id="titulo">
        A BiblioTech é um gerenciador de biblioteca, que foi desenvolvida para
        facilitar o controle e organização de livros e usuários. Com ela é
        possível realizar as seguintes funcionalidades:
      </h1>
    </div>

    <div id="lista">
      <ul>
        <li>
          Cadastro de usuários: Permite que novos usuários se registrem no
          sistema.
        </li>
        <li>
          Cadastro de livros: Possibilita o registro de novos livros, com
          informações como título, autor, gênero e número de páginas.
        </li>
        <li>
          Listagem de livros disponíveis: Exibe os livros cadastrados no
          sistema, apresentando detalhes importantes <br />
          sobre cada um, como autor, título, gênero e número de páginas
        </li>
        <li>
          Edição de livros registrados: Permite alterar os dados de livros já
          cadastrados, caso necessário.
        </li>
        <li>
          Exclusão de livros: Facilita a remoção de livros do sistema, mantendo
          o banco de dados atualizado.
        </li>
      </ul>
      <h2>
        Essa aplicação é útil para bibliotecas, escolas, ou qualquer instituição
        que precise organizar seu acervo e gerenciar o cadastro de usuários de
        forma eficiente.
      </h2>
    </div>
  </body>
</html>
