<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    *{ box-sizing: border-box; } body{ background: rgb(255,255,255); background:
    linear-gradient(27deg, rgba(255,255,255,1), rgba(175,0,255,1)); margin:0;
    font-family: 'Roboto', sans-serif; } .nav{ display: flex; flex-flow: row
    wrap; height: 100px; background: white; justify-content: center;
    align-items: center; position:fixed; width: 100%; } .logo{ flex:20%;
    margin-left:10%; text-align: left; } .logo h1{ font-family: 'Lobster',
    cursive; color:#180F4A; font-size:34px; } .menu{ flex:70%; text-align:right;
    padding:20px; } .menu a{ color:#180F4A; text-decoration: none;
    font-size:20px; padding:20px 16px; } .menu a:hover{ color:#FF2978;
    border-top:4px solid #180F4A; } .buton{ border: none;} #botao{ background:
    #180F4A; padding: 10px 25px; color:white; border-radius:5px;
    margin-right:10%; margin-left:5%; } #botao:hover{
    border:none;background-image: linear-gradient(rgba(175,0,255,1) 99%);; }
    img{position: fixed; height: 50%; left: 70%; margin-top: 10%;}
  </style>
  <body>
    <nav class="nav">
      <div class="logo"> <h1>BiblioTech</h1> </div>
      <div class="menu">
        <button class="buton" id="ajuda" onclick="redAjuda()">Help</button>
        <button class="buton" id="go" onclick="redInicio()">Start</button>
        <button class="buton" id="botao" onclick="redEntrar()"> Login </button>
      </div>
    </nav>

    <img
      src="https://img.freepik.com/psd-gratuitas/pilha-de-livros-isolada_23-2151194373.jpg?ga=GA1.1.2020233119.1731521266&semt=ais_hybrid"
    />

    <script>
      function redEntrar(){ window.location.href = '/login' } function
      redInicio(){ window.location.href = '/cadastrarlivros'} function
      redAjuda(){ window.location.href = "/ajuda" }
    </script>
  </body>
</html>