<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
  </head>
  <style>
    body{ background-image: linear-gradient(to left bottom, #ff4f4f, #fe3a83,
    #e346b6, #aa61e1, #3378f9); } .fundo{ background-image: linear-gradient(to
    bottom, #f62d2d, #f9006e, #de2ba9, #a456d6, #3072ec); height: 350px; width:
    400px; margin: auto; margin-top: 100px; padding: 80px 30px 20px 30px;
    border-radius: 30px;} .form{ text-align: center; margin-top: 10px; border:
    none;} #nome, #email, #senha{ border-radius: 10px; background-color:
    #a456d6; } .button{border: none; background-image: linear-gradient(to left
    bottom, #f17676, #fe3a83, #e346b6, #d7106d76, #3378f9); margin-top: 5px; }
    #button{ margin-top: 1px; border: none; background-image: linear-gradient(to
    left bottom, #f17676, #fe3a83, #e346b6, #d7106d76, #3378f9); }
    input::placeholder{ color: #000000; }
  </style>

  <body>
    <div class="fundo">
      <div class="col-6 offset-3">
        <form class="form" action="/login" method="post" class="cds">
          <label for="nome"></label>
          <br />
          <input
            type="text"
            name="nome"
            class="form-control"
            id="nome"
            placeholder="What´s your name?"
          />
          <br />
          <label for="email"></label>
          <br />
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="E-mail"
          />
          <br />
          <label for="senha"></label>
          <br />
          <input
            type="password"
            name="senha"
            class="form-control"
            id="senha"
            placeholder="Password"
          />
          <br />
          <button type="submit" id="button"> Register </button>
          <br />
          <button type="button" class="button" onclick="cad()">
            I already have a login
          </button>
        </form>
      </div>
    </div>

    <script>function cad(){ window.location.href = '/entrar' }</script>
  </body>
</html>